<html data-ng-app="KobaAdminApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>KOBA Administration</title>

  <!-- Load angular -->
  <script src="{{ asset('admin/js/lib/angular.min.js') }}"></script>
  <script src="{{ asset('admin/js/lib/angular-route.min.js') }}"></script>
  <script src="{{ asset('admin/js/app.js') }}"></script>
  <script src="{{ asset('admin/js/controllers.js') }}"></script>
  <script src="{{ asset('admin/js/dataService.js') }}"></script>
  <script src="{{ asset('admin/js/ngOverlay.js') }}"></script>
  <script src="{{ asset('admin/js/appMessage.js') }}"></script>

  <!-- Utils -->
  <script src="{{ asset('admin/js/lib/md5.js') }}"></script>

  <!-- Load bootstrap theme -->
  <link rel="stylesheet" href="{{ asset('admin/css/bootstrap.min.css') }}">
  <link rel="stylesheet"
        href="{{ asset('admin/css/bootstrap-theme.min.css') }}">
  <link rel="stylesheet" href="{{ asset('admin/css/font-awesome.min.css') }}">

  <script src="{{ asset('admin/js/lib/jquery-1.11.1.min.js') }}"></script>
  <script src="{{ asset('admin/js/lib/bootstrap.min.js') }}"></script>

  <!-- Local styles -->
  <link rel="stylesheet" href="{{ asset('admin/css/style.css') }}">
</head>
<body>
<div class="container" data-ng-controller="MainController">
  <!-- Placeholder for the route templets -->
  <div data-ng-view></div>
</div>
</body>
</html>
