<html data-ng-app="KobaAdminApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>KOBA Administration</title>

  <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-theme.min.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}">
  <!-- Local styles -->
  <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

  <script src="{{ asset('assets/lib/jquery-1.11.1.min.js') }}"></script>
  <script src="{{ asset('assets/lib/bootstrap.min.js') }}"></script>
  <script src="{{ asset('assets/lib/angular.min.js') }}"></script>
  <script src="{{ asset('assets/lib/angular-route.min.js') }}"></script>
  <script src="{{ asset('assets/lib/md5.js') }}"></script>

  <script src="{{ asset('app/shared/ngOverlay/ngOverlay.js') }}"></script>
  <script src="{{ asset('app/shared/appMessage/appMessage.js') }}"></script>

  <script src="{{ asset('app/app.js') }}"></script>
  <script src="{{ asset('app/shared/services/dataService.js') }}"></script>
  <script src="{{ asset('app/shared/navigation/navigationController.js') }}"></script>

  <script src="{{ asset('app/pages/apiKey/apiKeyController.js') }}"></script>
  <script src="{{ asset('app/pages/resources/resourceController.js') }}"></script>
</head>
<body>
<div class="container">
  <!-- Placeholder for the route templets -->
  <div data-ng-view></div>
</div>
</body>
</html>
